body {
    background: linear-gradient(90deg, #F9FFFC 0%, #F9FFFC 0%, #EFEFEF 53%);
}

.nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active {
    color: #b1b1b1;
}

.navbar-brand img {
    width: 35px;
}

.navbar-toggler {
    background-color: #f0f8ff;
}

.sidebar {
    color: rgb(0, 0, 0);
    background: linear-gradient(270deg, #f9fffc94 0%, #f9fffc96 0%, #efefef83 53%);
}

.card {
    color: rgb(0, 0, 0);
    background: linear-gradient(270deg, #f9fffc94 0%, #f9fffc96 0%, #efefef83 53%);
}

.slide-text {
    color: black;
    margin: auto auto;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-anim {
    animation: myAnim 3s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

.facebook-anim {
    animation: myAnim2 3s ease 0s infinite normal forwards;
}

@keyframes myAnim2 {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

footer {
    background: linear-gradient(270deg, #f9fffc94 0%, #f9fffc96 0%, #efefef83 53%);
}